[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git://git.schuerz.at/github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git://git.schuerz.at/github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = git://git.schuerz.at/github.com/jimeh/tmux-themepack.git
