[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = http://github.com/gtmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = http://github.com/gtmux-plugins/tmux-themepack.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = http://github.com/gtmux-plugins/tmux-sensible.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gVim/gmarik/Vundle.vim.git
